/*
Project Saturn
skabajah
2025-12-20
*/

html { font-size: 14px; }

html, body {
  margin: 0;
  background: #000;
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: white;
  font-family: sans-serif;
}

/* =========================
   Video
   ========================= */
#videoWrapper {
  position: fixed;
  width: 102%;
  height: 102%;
  margin: -1%;
}

#videoPlayer{
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  object-fit:fill;
  object-position:center;
/*
  transform-origin: top left;
  transition: transform 0.6s ease-in-out, border-radius 0.6s ease-in-out;

  -webkit-transform-origin: top left;
  -webkit-transition: -webkit-transform 0.6s ease-in-out, border-radius 0.6s ease-in-out;
*/
}

/*
#videoPlayer.video-min{
  border-radius: 40px;
  transform: translate(3.5vw, 6vh) scale(0.70); 

  -webkit-transform: translate(3.5vw, 6vh) scale(0.70);
  -webkit-transform: translate3d(3.5vw, 6vh) scale(0.70);

}
*/ 

*,
*:focus {
  outline: none !important;
}

/* =========================
   Menu bar (bottom) + slide
   ========================= */
#menuBar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  display: flex;
  gap: 2rem;
  padding: 0.75rem 1rem;
  padding-bottom: calc(0.75rem + env(safe-area-inset-bottom));
  /*border-radius: 14px;*/
  /*background: rgba(0,0,0,0.6);*/
  /*border: solid 1px rgba(0,0,0,0.2);*/
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100vw;
  z-index: 60;
  opacity: 1;
  transition: transform 0.35s ease, opacity 0.35s ease;
  -webkit-overflow-scrolling: touch;
  box-shadow:  0px -20px 20px rgb(0 0 0 / 80%);
  background: rgb(0 0 0 / 80%);
}

#menuBar::-webkit-scrollbar { display: none; }

#menuBar.hidden {
  transform: translateX(-50%) translateY(120%);
  opacity: 0;
  pointer-events: none;
  /*opacity: 1;*/
}

/* =========================
   Group box (big)
   ========================= */
.group-box {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  padding: 4px 0; 
  /*background: rgba(27, 27, 27, 0.8);*/
  /*border: solid 1px #ffffff14;*/
  border-left: solid 6px #ffffff4f;
  /*border-radius: 14px;*/
}

.group-title {
  font-size: 0.7em;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7);
  padding: 0 0 0 1em;
  align-self: center;
  width: 4em;
}

/* Row of channels inside a group box */
.group-row {
  display: flex;
  gap: 1em;
}

/* =========================
   Channel card (small)
   num top, logo middle, name bottom
   ========================= */
.channel {
  width: 7em;
  /*height: 5.5em;*/
  padding: 6px 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 14px;
  flex: 0 0 auto;
  /*background: rgba(0,0,0,0.6);*/
  text-align: center;

  flex-direction:  row;
  justify-content: space-evenly; 

  border: solid 1px #ffffff45;
  background: #ffffff1c;
}

.channel .num {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1;
  color: rgba(255,255,255,0.95);

  align-self: center;
  display: flex;
}

.channel img {
  align-self: center;
  width: 3em;
  height: 3em;
  object-fit: contain;
  border-radius: 15px;
  border: solid 1px rgba(210,210,210,0.1);
  filter: grayscale(75%);
  opacity: 75%;
}

.channel.active  img {
  filter: grayscale(0%);
  opacity: 1;
}

.channel .name {
  font-size: 0.8rem;
  font-weight: normal;
  line-height: 1.05;
  color: rgba(255,255,255,0.95);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  display: none;
}

/* Active card */
.channel.active {
  background: #bfbfbfc9;
  color: #000;
  /*margin: -8px 0;*/
  /*border-radius: 15px;*/
  transition: all 0.5s ease;
  box-shadow: 3px 3px 3px 0px rgb(217 217 217 / 60%);
}

.channel.active .num,
.channel.active .name {
  color: #000;
}

/* =========================
   Overlay
   ========================= */
#overlay {
  position: absolute;
  top: 4vh;
  right: 4vh;
  display: flex;
  align-items: center;
  gap: 1em;
  background: rgba(0,0,0,0.6);
  padding: 0.5rem 1rem;
  border-radius: 13px;
  transition: opacity 0.5s ease;
  opacity: 0;
  z-index: 100;
  font-size: 1.1rem;
  display: none;
}

#overlay.visible { opacity: 1; }

#overlay .text {
  display: flex;
  flex-direction: column;
  text-align: right;
  border-right: solid 1.5px rgba(238,238,238,0.5);
  padding-right: 1em;
  min-width: 100px;
}

#overlay .group {
  font-size: 0.6rem;
  color: #ccc;
  font-weight: bold;
}

#overlay .ch-num { font-weight: bold; }
#overlay .name { font-size: 0.8rem; }

#overlay img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  border-radius: 15px;
  border: solid 1px rgba(233,233,233,0.1);
}


/* =========================
   Spinner (horizontal shimmer)
   ========================= */
.spinner{
  position:fixed;
  top:2vh;
  left:0;
  width:100%;
  height:4px;
  background:rgba(255,255,255,0.2);
  overflow:hidden;
  z-index:9999;
  display:none;
  animation: none !important; /* force-kill any old spin */
}

.spinner::before{
  content:'';
  position:absolute;
  inset:0;
  background:linear-gradient(90deg, transparent, rgb(255, 255 ,255, 0.4), transparent);
  animation: slide 2s linear infinite;
}

@keyframes slide{
  from{ transform:translateX(100%); }
  to  { transform:translateX(-100%); }
}




/* =========================
   closed captions  
   ========================= */
video::cue, #videoPlayer::cue { 
  visibility: hidden !important; 
}


/*landing */
 body { margin:0; background:black; }

    /* ===== LANDING OVERLAY ===== */
    #landing {
      position: fixed;
      inset: 0;
      z-index: 9999;
      background: black;
    }
    #landing.hidden { display:none; }

    .svg {
      position:absolute;
      inset:0;
      background:url('landing.svg') no-repeat center center;
      background-size:contain;
    }

    .footer-left, .footer-right {
      position: fixed;
      bottom: 1%;
      font-family: monospace;
      font-size: 10px;
      color: #bfbfbf;
      z-index: 10000;
    }
    .footer-left { left: 1%; }
    .footer-right { right: 1%; }

    /* ===== AUTH (INSIDE LANDING) ===== */
    #authGate{
      position:absolute;
      bottom:5%;
      left:3%;
      z-index:10001;
      display:flex;
      flex-direction:column;
      gap:12px;
      align-items:stretch;
      min-width: 300px;
      color:#fff;
      background:#ffffff1f;
      padding:2%;
      border-radius:20px;
      backdrop-filter: blur(6px);
    }
    #authGate.hidden{ display:none; }

    #authGate label{
      display:flex;
      flex-direction:column;
      gap:6px;
      font-size:12px;
      color:#e6e6e6;
    }
    #authGate input{
      padding:10px 12px;
      font-size:14px;
      border-radius:10px;
      border:1px solid #4f4f4f;
      background:#111;
      color:#fff;
      outline:none;
    }
    #authGate button{
      padding:10px 16px;
      font-size:14px;
      border:1px solid #7e7e7e;
      background:#c9c9c9;
      color:black;
      border-radius:8px;
      cursor:pointer;
    }
    #authGate .hint{
      font-size:11px;
      color:#bfbfbf;
      text-align:center;
      min-height: 14px;
    }




/* =========================
   TV scaling
   ========================= */
@media screen and (max-width: 1280px) and (max-height: 720px) {
  html { font-size: 16px; }
}

@media screen and (min-width: 1281px) and (min-height: 1080px) {
  html { font-size: 22px; }
}

/* phone portarait */
@media screen and (max-width: 500px) {
  #videoPlayer {
    object-fit: contain;
  } 
  #overlay {
    top: 8vh;
    right: 2vh;
  }
   .svg {
        background: url(portrait.svg);
        background-repeat: no-repeat; 
         }
   #authGate { 
    padding: 3em; 
   }
}

/* phone landcape */
@media screen and (max-height: 500px) {
  #videoPlayer {
    object-fit: contain;
  } 
 
} 
